# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.p
*.pkl

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
log/
